.kommitter {
  cursor: default;
}
.kommitter-repo-view {
  background: #F7F7F7;
}
.kommitter-base-container, 
.kommitter-repos-view {
  -webkit-transition: top 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: top 0.5s ease-out;  /* Firefox 4-15 */
       -o-transition: top 0.5s ease-out;  /* Opera 10.50–12.00 */
          transition: top 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.kommitter-branch-name, 
.kommitter-file-item {
  height: 22px;
  line-height: 22px;
}
.kommitter-icon {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 28px;
  top: 3px;
  position: relative;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  color: #FFF;
  text-align: center;
}
.kommitter-buttons-view {
  width: 100px;
  float: left;
  margin: 15px 20px 0 15px;
}
.kommitter-buttons-view button {
  width: 60px;
  margin-bottom: 8px;
}
.kommitter textarea {
  width: 400px;
  height: 60px;
  resize: none;
}
.kommitter-base-container {
  background: rgb(249,249,249); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(242,242,242,1) 100%, rgba(234,234,234,1) 100%, rgba(249,249,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(242,242,242,1)), color-stop(100%,rgba(234,234,234,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
.kommitter-repo-item {
  height: 96px;
  width: auto;
  padding: 8px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #DFDFDF;
  margin-bottom: 5px;
  cursor: pointer;
  background: rgb(247,247,247); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(225,225,225,1) 100%, rgba(234,234,234,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(225,225,225,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%,rgba(234,234,234,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%,rgba(234,234,234,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}
.kommitter-repo-item:hover {
  background: rgb(249,249,249); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(242,242,242,1) 100%, rgba(234,234,234,1) 100%, rgba(249,249,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(242,242,242,1)), color-stop(100%,rgba(234,234,234,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
.kommitter-repo-item img { 
  width: 96px;
  float: left; 
  margin-right: 10px;
}
.kommitter-repo-name,
.kommitter .user-details { 
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 5px;
}
.kommitter-repo-path, 
.kommiter .user-email{ 
  font-size: 13px;
  font-style: italic;
  color: #777;
}
.kommitter-repos-view {
  overflow-y: auto; 
}
.kommitter-icon-deleted   { background: #d83434; }
.kommitter-icon-untracked { background: #999999; }
.kommitter-icon-modified  { background: #018BBF; }
.kommitter-icon-added     { background: #92c133; }

.status-list-header {
  background-image: -moz-linear-gradient(100% 100% 90deg, #e4e5e7, #f8f8f8) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e4e5e7)) !important;
  background-image: -o-linear-gradient(#f8f8f8, #e4e5e7) !important;
  border-bottom: 1px solid #c5c5c5 !important;
}
.kommitter .header-item {
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
}
.kommitter .header-item:last-child {
  border-right: none;
}
.kommitter .status-list-header .header-item {
  float: left;
  text-align: center;
}
.kommitter .status-list-header .staged {
  width: 60px;
}
.kommitter .status-list-header .status {
  width: 50px;
}
.kommitter .status-list-header .filepath {
  width: 70px;
}
.kommitter-file-item {
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #ededed;
  padding: 1px;
}
.kommitter-file-item:nth-child(2n) {
  background: #fafafa;
}
.kommitter-file-item:hover {
  background: #efefef;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.kommitter-file-item .checkbox {
  float: left;
  margin-left: 27px;
  margin-right: 43px;
  top: 5px;
  position: relative;
}
.kommitter-file-item .file-name {
  float: left;
  margin-right: 5px;
  width: 80%;
  cursor: pointer;
}
.kommitter .kdlistitemview:last-child {
  border-bottom: 1px solid #ededed;
}
.kommitter .kdheaderview {
  border-bottom: none;
}
.kommitter .nav-item {
  height: auto;
  margin-bottom: 10px;
  font-size: 11px;
  color: #666;
  font-weight: bold;
}
.kommitter .branch-item {
  text-indent: 10px;
  font-weight: normal;
  color: #444;
  font-weight: 12px;
  margin-top: 2px;
}
.kommitter .browse  .kdview,
.kommitter .no-diff-view,
.kommitter .working-dir-clean {
  width: 360px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  top: 48%;
  color: #666;
  font-weight: bold;
  font-size: 18px;
}
.kommitter .panel-0 {
  border-right: 1px solid #CCC;
}
.kommitter .navigation-pane {
  padding: 10px;
}
.kommitter .panel-1 .panel-1 > .kdview:first-child {
  border-top: 1px solid #bababa;
}
.kommitter .status-tab {
  background: #FFF;
  border-left: 1px solid #CCC;
}
.kommitter .diff-view {
  overflow: auto;
}
.kommitter pre {
  padding: 5px 0 0 0;
  background: #FFF;
  border: 1px solid #e5e5e5;
}
.kommitter .status-list-container,
.kommitter .status-tab {
  overflow: auto;
}
.kommitter .repo-tabs {
  overflow: hidden;
}
.kommitter .main-stage .panel-1 {
  box-shadow: 0 6px 13px -4px rgba(0, 0, 0, 0.3) inset;
}
.kommitter .kdtabhandlecontainer {
  padding-top: 0;
  height: 29px;
}
.kommitter .repo-tabs .kdtabhandle {
  border: 1px solid #CCC;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  border-left: none;
  padding: 0 25px;
  color: #666;
}
.kommitter .repo-tabs .kdtabhandle:hover {
  height: 29px;
}
.kommitter .repo-tabs .kdtabhandle:first-child {
  margin-left: 0;
  border-left: 1px solid #CCC;
}
.kommitter .repo-tabs .kdtabhandle b {
  font-weight: bold;
}
.kommitter .repo-tabs .kdtabhandle.active {
  background: #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
  color: #ff9200;
}
.kommitter .repo-tabs .kdtabhandle {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.kommitter .repo-tabs .selected {
  background: rgba(255, 146, 0, 0.4);
}
.kommitter .kommit-view {
  top: -200px;
  position: absolute;
  left: 50%;
  padding: 20px;
  border: 1px solid #CCC;
  width: 400px;
  border-radius: 0 0 6px 6px;
  height: 70px;
  background: #FFF;
  margin-left: -210px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.5);
  -webkit-transition: top 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: top 0.5s ease-out;  /* Firefox 4-15 */
       -o-transition: top 0.5s ease-out;  /* Opera 10.50–12.00 */
          transition: top 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.kommitter .kommit-view.active {
  top: 0;
}
.kommitter .buttons-container {
  margin-top: 10px;
  text-align: right;
}
.kommitter .log-container { 
  overflow: auto;
}
.kommitter .kommit-log-item {
  border: 1px solid #CCC;
  height: 86px;
  padding: 5px;
  margin: 5px 0 5px 10px;
  border-radius: 6px;
  width: auto;
  text-shadow: 1px 1px 0px #FFF;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  background: rgb(247,247,247); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(225,225,225,1) 100%, rgba(234,234,234,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(225,225,225,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%,rgba(234,234,234,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(225,225,225,1) 100%,rgba(234,234,234,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}
.kommitter .kommit-log-item:hover {
  background: rgb(249,249,249); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(242,242,242,1) 100%, rgba(234,234,234,1) 100%, rgba(249,249,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(242,242,242,1)), color-stop(100%,rgba(234,234,234,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%,rgba(234,234,234,1) 100%,rgba(249,249,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
  box-shadow: none;
}
.kommitter .kommit-log-item img {
  border-radius: 4px;
  float: left;
  margin-right: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  width: 86px;
  height: 86px;
}
.kommitter .kommit-log-item .user-details {
  height: 20px;
  line-height: 20px;
  width: 400px;
  float: left;
}
.kommitter .kommit-log-item .user-email {
  display: inline;
  margin-left: 5px;
  font-size: 12px;
  color: #777;
}
.kommitter .id {
  width: 80px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 10px;
}
.kommitter .date {
  position: absolute;
  bottom: 50px;
  right: 20px;
}
.kommitter .message {
  margin:  30px 0 0 97px;
  width: 60%;
}
.kommitter .commits .canvas-loader {
  margin-top: 5px;
  text-align: center;
}
.kommitter .commits .kdloader {
  width: 124px !important;
  height: 80px !important;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  left: 50%;
  margin-left: -70px;
  top: 80px;
}
.kommitter .terminal-view.active {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -400px;
  z-index: 10000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
.kommitter .diff-table {
  width: 100%;
}
.kommitter .diff-table td {
  padding: 2px 6px;
  width: 2%;
  border-right: 1px solid #e5e5e5;
  color: #999;
}
.kommitter .diff-table td:last-child {
  width: 94%;
  border-right: none;
  color: inherit;
}
.kommitter .diff-table .chunk-title td { color: #999; background: #F3F3FF !important; }
.kommitter .diff-table .chunk-title td:last-child { background: #F8F8FF; }
.kommitter .diff-table .deleted-line td { background: #F7C8C8; border-color: #e9aeae; }
.kommitter .diff-table .deleted-line td:last-child { background: #FFDDDD; }
.kommitter .diff-table .added-line td { background: #CEFFCE; border-color: #b4e2b4; }
.kommitter .diff-table .added-line td:last-child { background: #DDFFDD; }
.kommitter .diff-table tr:hover td { background: #F6E8B5; }
.kommitter .diff-table tr:hover td:last-child { background: #F8EEC7; }
